:root
{
    --title-bar-height: 70px;

    --space-between-title-bar-and-menu-bar: 10px;

    --menu-bar-height: 50px;
    --menu-bar-width: 760px;

	--light-color: rgb(56, 72, 78);
	--medium-color: rgb(46, 62, 68);
	--dark-color: rgb(36, 52, 58);
	--very-dark-color: rgb(26, 42, 48);
	--extremely-dark-color: rgb(16, 32, 38);
	
	--medium-text-color: rgb(169, 197, 230);
	--light-text-color: rgb(195, 204, 219);

	--btn-text-color: #f5f5f5;
    --btn-bg-color: rgb(74, 144, 226);
    --btn-bg-color-hover: rgb(64, 134, 216);
    --btn-border-color: rgb(47, 109, 181);
    --btn-font-size: 14pt;

    --page-width: 1024px;
	--page-padding: 10px;
}

h2
{
	font-size: 18pt;
}
h3
{
	font-size: 15pt;
}

html, body
{
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;

	background-color: var(--extremely-dark-color);
	/*background-image: linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));*/
	background-size: 17.5px 30px;

	color: var(--light-text-color);
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif;

    width: 100%;
    height: 100%;
}

body
{
    overflow-y: scroll;
}

#titleBar
{
	width: var(--page-width);
	min-width: var(--page-width);
    max-width: var(--page-width);
	margin: 0 auto;
	height: 50px;
	background-color: var(--medium-color);

    position: relative;

	padding: 10px 10px 10px 13px;
	margin-bottom: 20px;  

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#title
{
	font-size: 22pt;
	text-align: center;
	font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
	-moz-user-select: none;
	
	color: var(--medium-text-color);
}
#subtitle
{
	font-size: 11pt;
	text-align: center;
    font-style: italic;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
	
	color: var(--medium-text-color);
}


canvas
{
	border-radius: 3px;
	overflow: hidden;
}

#titleBar > #accountBox
{
    position: absolute;
    top: 10px;
    left: 10px;
}

#accountBox > canvas
{
    position: absolute;
    top: -4px;
	left: -3px;
}

#accountBox > canvas:hover
{
    cursor: pointer;
}

#accountBox > div:nth-child(2) /* Address */
{
    font-size: 10pt;
    position: absolute;

    min-width: 150px;
    width: 150px;

    top: -5px;
	left: 60px;
	display: block;
}

#accountBox > #accountBox_textUsername
{
    font-size: 10pt;
    position: absolute;

    top: 40px;
    left: 55px;

    width: 70px;
    min-width: 70px;
    display: inline-block;

    text-align: right;
}

#accountBox > div:nth-child(3) /* Username */
{
    font-size: 10pt;
    position: absolute;

    min-width: 170px;
    width: 170px;

    top: 40px;
    left: 130px;
}
#accountBox > #accountBox_etherBalance /* ETH balance */
{
    font-size: 10pt;
    position: absolute;

    top: 10px;
    left: 130px;

    width: 120px;
    min-width: 120px;
    display: inline-block;

    text-align: left;
}

#accountBox > #accountBox_textEthInContract
{
    font-size: 10pt;
    position: absolute;

    top: 10px;
    left: 55px;

    width: 70px;
    min-width: 70px;
    display: inline-block;

    text-align: right;
}

#accountBox > #accountBox_primeCount /* Prime count*/
{
    font-size: 10pt;
    position: absolute;

    top: 25px;
    left: 130px;

    width: 60px;
    min-width: 60px;
    display: inline-block;

    text-align: left;
}
#accountBox_primesText
{
    font-size: 10pt;
    position: absolute;

    top: 25px;
    left: 55px;

    width: 70px;
    min-width: 70px;
    display: inline-block;

    text-align: right;
}




#accountBox_withdrawButton
{
    font-size: 10pt;

    position: absolute;
    top: 10px;
    left: 300px;

    display: inline-block;

    text-align: left;
    text-decoration: underline;
    cursor: default;
}

#accountBox_depositButton
{
    font-size: 10pt;

    position: absolute;
    top: 10px;
    left: 250px;

    display: inline-block;

    text-align: left;
    text-decoration: underline;
    cursor: default;
}
#accountBox_withdrawButton:hover, #accountBox_depositButton:hover
{
    color: red;
    cursor: pointer;
}



/*
#accountBox > div:nth-child(5)::after
{
    content: "primes";

    position: absolute;
    left: 50px;

    width: 100px;
    min-width: 100px;
    display: inline-block;
    margin-left: 20px;

    text-align: left;
}*/

#largestPrimeBox
{
	position: absolute;
	top: 0;
	right: 200px;
	padding: 3px;
	max-width: 80px;
	font-size: 10pt;
	text-align: center;
}
#definitePrimeCounterBox
{
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px;
	font-size: 10pt;
	max-width: 80px;
	text-align: center;
}
#probablePrimeCounterBox
{
	position: absolute;
	top: 0;
	right: 100px;
	padding: 3px;
	max-width: 80px;
	font-size: 10pt;
	text-align: center;
}
#largestPrimeCounter, #probablePrimeCounter, #definitePrimeCounter
{
	padding-top: 1px;
	font-size: 22pt;
	text-align: center;
}




#menuBar
{
	width: var(--menu-bar-width);
    min-width: var(--menu-bar-width);
    max-width: var(--menu-bar-width);
	text-align: center;
	margin: var(--space-between-title-bar-and-menu-bar) auto 0 auto;
	outline: 0;
	border: 0;
    background-color: var(--dark-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#menuBar > a
{
	text-decoration: none;
    color: var(--light-text-color);
    background-color: var(--menu-btn-bg-color);
	font-weight: bold;
	height: var(--menu-bar-height);
    min-height: var(--menu-bar-height);
    max-height: var(--menu-bar-height);
	line-height: var(--menu-bar-height);
	display: inline-block;
	vertical-align: middle;
	padding: 0px 16px 0px 16px;
	transition: color 0.3s, background-color 0.5s;
}

#menuBar > a:hover
{
	text-decoration: none;
	font-weight: bold;
    padding: 0px 16px 0px 16px;
    background-color: var(--very-dark-color);
}

#menuBar > a.selected
{
	background-color: var(--medium-color);
}
















#initLog
{
    padding: 30px 0 0 50px;
}


#pageBox
{
	width: var(--page-width);
	min-width: var(--page-width);
    max-width: var(--page-width);
    min-height: calc(100% - var(--menu-bar-height) - var(--space-between-title-bar-and-menu-bar) - var(--title-bar-height));
    height: auto;
    margin: 0 auto;
    position: relative;
    display: block;
	margin-bottom: 50px;
	left: -10px;
}

#pageBox > div > h2
{
    text-align: center;
}

#pageBox > div
{
	background-color: var(--medium-color);
	transition: left 1s;
	width: var(--page-width);
	min-width: var(--page-width);
    max-width: var(--page-width);
	min-height: calc(100% - 50px);
    height: auto;
	padding: var(--page-padding);
	position: absolute;
	top: 0;
    left: 0;
    border-radius: 10px;
    margin-bottom: 50px;
}



a.nobtn, a.nobtn:visited
{
	color: var(--light-text-color);
}
a.nobtn:hover
{
	color: var(--medium-text-color);
}

a:not(.nobtn)
{
	color: var(--btn-text-color);
    border-style: solid;
    border-color: var(--btn-border-color);
    background-color: var(--btn-bg-color);
    border-radius: 0px;
    border-width: 0px 0px 3px 0px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 5px;
	font-weight: bold;
    padding-bottom: 5px;
    line-height: var(--btn-font-size);
    font-size: var(--btn-font-size);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    transition: background-color 0.2s;
}


#pageBox a:not(.nobtn):hover
{
    background-color: var(--btn-bg-color-hover);
}





#computeGasPriceDisplay, #computeGasLimitDisplay, #computePrimesToMemorizeDisplay, #computeEtherCost
{
    text-align: right;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    display: inline-block;
    margin-right: 10px;
}

#pageComputeTable1
{
    float: right;
    margin-right: 50px;
}

#pageComputeTable1 td:last-child
{
	min-width: 30px;
	padding-left: 10px;
	text-align: right;
	font-size: 20pt;
}

#pageComputeTable2
{
    float: left;
}

#pageComputeTable1 td, #pageComputeTable2 td
{
	min-height: 30px;
	height: 30px;
	max-height: 30px;
}


#btnCompute
{
	font-size: 20pt;
	padding: 15px;
}






#rankingTable td
{
    text-align: center;
}

#rankingTable td:first-child
{
    line-height: 40px;
    vertical-align: middle;
}

#pageRanking th:not(:first-child)
{
	color: var(--medium-text-color);
	transition: color 0.3s;
}

#pageRanking th:not(:first-child):hover
{
	cursor: pointer;
	color: #550000;
}







.userBox
{
    min-width: 350px;
    width: 350px;
	max-width: 350px;
	min-height: 40px;
	height: 40px;
	max-height: 40px;
    text-align: left;
    position: relative;
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.0);
}
.userBox:hover
{
    cursor: pointer;
    background-color: var(--light-color);
}
.userBox > canvas
{
	position: absolute;
    top: 0;
    left: 0;
}
.userBox > div.address
{
    position: absolute;
    display: inline-block;
    top: -2px;
	left: 50px;
	width: 310px; min-width: 310px; max-width: 310px;
    font-size: 9pt;
	height: 20px; min-height: 20px; max-height: 20px; line-height: 20px;
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}
.userBox > div.username
{
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 50px;
	width: 310px;
	min-width: 310px;
	max-width: 310px;
	height: 20px; min-height: 20px; max-height: 20px; line-height: 20px;
}




#pageTransactions table
{
	border-collapse: separate; 
	border-spacing: 0 15px;
}

#pageTransactions th
{
	color: var(--medium-text-color);
}

tbody#transactionsTable tr
{
	background-color: var(--light-color);
}
tbody#transactionsTable td
{
	padding: 10px;
	word-wrap: break-word;
}
tbody#transactionsTable td:last-child
{
	padding-left: 0px !important;
	padding-right: 5px !important;
}
tbody#transactionsTable td:last-child ul
{
	padding: 0px 0px 0px 23px;
	border: 0;
	margin: 0;
	outline: 0;
	font-size: 11pt;
}


#transactionsTable
{
	font-size: 11pt;
}

#transactionsTable td:first-child, #pageTransactions th:first-child /* txhash */
{
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
#transactionsTable td:first-child
{
    word-wrap: break-word;
    font-size: 10pt;
}

#transactionsTable td:nth-child(2), #pageTransactions th:nth-child(2) /* action */
{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

#transactionsTable td:nth-child(3), #pageTransactions th:nth-child(3) /* confirmation */
{
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

#transactionsTable td:nth-child(4), #pageTransactions th:nth-child(4) /* result */
{
    width: 300px;
    min-width: 300px;
	max-width: 300px;
}

tbody#transactionsTable td:nth-child(4)
{
	max-height: 150px;
}

tbody#transactionsTable .transactionResultsList
{
	max-height: 150px;
	overflow-y: auto;
}






/*
.container
{
	text-align:center;
	perspective: 200px;
	-webkit-perspective: 200px;
	width:250px;
	margin:0 auto;
	border-radius:6px;
	position:relative;
}

.front,
.back
{
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	position:absolute;
	text-align:center;
	
	border:blue 5px ridge;
	border-radius:10px;
	
	width:250px;
	
	margin: 0 auto;
	
	transition:0.8s;
}
.back
{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
.container:hover .front
{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
.container:hover .back
{
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
}
*/












.primesList > div
{
	border-top: 1px solid white;
	margin-bottom: 0px;
	height: 40px;
	line-height: 40px;
	padding-top: 5px;
	padding-bottom: 8px;
	font-size: 12pt;
	position: relative;
}
.primesList > div > div
{
    display: inline-block;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
	vertical-align: middle;
}
.primesList > div > div:nth-child(1) /* prime number */
{
	position: relative;
	top: -4px;
	min-width: 100px;
	max-width: 100px;
	width: 100px;
    margin-right: 10px;

	word-wrap: break-word;

	text-align: right;
    font-size: 20pt;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.0);
	transition: background-color 0.3s;
	z-index: 10;
	height: 50px; min-height: 50px; max-height: 50px;
}
.primesList > div > div:nth-child(1):hover /* prime number */
{
    cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
	/*background-color: var(--light-color);*/
}

.primesList > div > div:nth-child(2) /* user box */
{
	position: relative;
	top: -3px;
}



.primesList .primeIsProbableDiv
{
	position: absolute;
	left: 20px;
	top: 35px;
	font-size: 9pt;
	height: 12pt;
	max-width: 12pt;
	min-height: 12pt;
	line-height: 12pt;
	width: 80px;
	min-width: 80px;
	max-width: 80px;
	text-align: right;
	z-index: 5;
}
.primesList .primeIsProbableDiv:hover
{
	cursor: default;
}



.primesList > div > a
{
	position: relative;
	top: -10px;
}

.primesList > div > .buyNowDiv, .primesList > div > .placeBuyOrderDiv
{
	display: inline-block;
	/*min-width: 100px;*/
	position: relative;
}
.primesList > div > .buyNowDiv a, .primesList > div > .placeBuyOrderDiv a
{
	position: relative;
	top: -10px;
	left: 0;
}
.primesList > div > .buyNowDiv input[type=checkbox], .primesList > div > .placeBuyOrderDiv input[type=checkbox]
{
	position: absolute;
	top: 25px;
	left: 0;
}
.primesList > div > .buyNowDiv label, .primesList > div > .placeBuyOrderDiv label
{
	position: absolute;
	top: 27px;
	left: 20px;
	line-height: 12pt;
	font-size: 9.5pt;
}

.primesListSortBar
{
	margin-bottom: 15px;
	margin-left: 15px;
	font-size: 11pt;
}

.primesListSortBar input[type=radio]
{
	margin-left: 20px;
	position: relative;
	top: 1px;
}

.primesListSortBar label
{
	margin-right: 15px;
}


.primesList a:not(.nobtn), #searchResults_number_buyOrders a:not(.nobtn)
{
	/*border-radius: 6px !important;*/
	padding: 4px !important;
	font-size: 10pt !important;
	line-height: 12pt !important;
	margin-right: 5px !important;
}





#searchBox
{
	font-size: 16pt;
	width: calc(100% - var(--page-padding) * 2);
	color:black;
	padding: 5px;
}








#searchResults
{
    border-top: 1px solid white;
    margin-top: 25px;
    font-size: 16pt;
    padding-top: 25px;
}

#searchResults > ul
{
    float: left;
    font-size: 14pt;
}

#searchResults > .address
{
    float: right;
    font-size: 15pt;
    width: 570px;
    position: relative;
}

#searchResults > .address > div
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 90px;
}


#searchResults > .address > canvas
{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#searchResults_number_properties_list li
{
	min-height: 30px;
	vertical-align: bottom;
	line-height: 30px;
}

#searchResults_number_buyOrders
{
	margin-top: 5px;
}

#searchResults_number_buyOrders > div
{
	width: calc(100% - 20px);
	height: 40px; min-height: 40px; max-height: 40px;
	background-color: var(--light-color);
	border-radius: 10px;
	margin-top: 10px;
	position: relative;
	margin-right: 30px;
	padding: 8px 10px 12px 10px;
	line-height: 40px;
	vertical-align: middle;
}

#searchResults_number_buyOrders > div > *
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

#searchResults_number_buyOrders > div > .bidAmount
{
	min-width: 150px;
	max-width: 150px;
	text-align: right;
	font-size: 15pt;
}

#searchResults_number_buyOrders > div > .inactiveBuyOrderText
{
	max-width: 240px;
	color: #770000;
	font-size: 9pt; line-height: 9pt;
}





#chatMessagesDiv > div
{
	width: 100%;
	height: 60px;
	background-color: var(--light-color);
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
	margin-right: 30px;
}

#chatMessagesDiv > div > div:nth-child(1) /* contains a userBox */
{
	position: absolute;
	left: 10px;
	top: 10px;
}

#chatMessagesDiv > div > div:nth-child(2)
{
	position: absolute;
	left: 400px;
	top: 10px;
	max-width: 610px;
	min-width: 610px;
	max-height: 40px;
	min-height: 40px;
	overflow: auto;
}

#chatMessageTextBox
{
	width: calc(100% - 15px);
	height: 30px;
	padding: 5px;
	font-size: 16pt;
}

/*
#chatMessagesDiv > div a
{
	color: blue;
	text-decoration: none;
}
*/










#allPrimesList[listiscomplete=no]::after
{
	content: "Loading...";
	font-size: 18pt;
	position: relative;
	left: 140px;
}

